

a {
	background-color: transparent;
	font-family: Verdana, Arial, Courier, serif;
	font-size: small;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: underline;
}

h2 {
	font-family: Verdana, Arial, Courier, serif;
	font-size: small;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: normal;
}

p {
	font-family: Verdana, Arial, Courier, serif;
	font-size: x-small;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
}
td.label {
	text-align: right;
}

.title {
	font-weight: bold;
}

div.flash {
	overflow: visible;
	width: 90%;
	margin: 8px;
	text-align: center;
	background-color: #900;
	border: solid 2px #f99;
	color: white;
}

body {
background-color:#F9F9F8;
width:800px;
height:600px;
font-family: Verdana, Arial, Courier, serif;
font-size: small;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: normal;

}

.main_nav {

width:500px;
height:200px;
}

.main_title {
color:#790033;
font-size:18px;
padding-left:10px;
}

.main_nav_links {
width:500px;
height:25px;
}

p.nav {
padding:0px 10px 0px 10px;
display:inline;
}

p.text1 {
font-size:11px;
padding-left:10px;
}

.input {
display:inline;
position:absolute;
top:110px;
right:475px;

}

.table_1{
display:inline;
position:absolute;
top:200px;
}

.table_2{
display:inline;
position:absolute;
top:200px;
right:575px;
}